
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

html, body, #app  {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    min-height: 100%;
}

a, a:hover {
    color: $color-primary;
    text-decoration: none;
}

.mdl-group .help-block {
    color: $red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $grey-text !important;
}
.alert {
    border-radius: 0px;
    border-left-style: none;
    border-right-style: none;
    &.alert-danger {
        background-color: inherit;
        border-color: $red;
        color: $red;
    }
    &.alert-success {
        background-color: inherit;
        border-color: $green;
        color: $green;
    }
}