@import '../../../../../resources/sass/variables';

#resetPage2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 30px #333;
        margin: 0 auto;
        max-width: 500px;
        width: 90%;
        .form-header {
            width: 70%;
            margin: 0 auto;
            margin-top: -50px;
            border-radius: 10px;
            background: $color-secondary; /* Old browsers */
            background: -moz-linear-gradient(45deg, $color-secondary 0%, $color-primary 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, $color-secondary 0%,$color-primary 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, $color-secondary 0%,$color-primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-secondary', endColorstr='$color-primary',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            @media only screen and (max-width: 600px) {
                width: 90%;
            }
            h1 {
                text-align: center;
                padding: 40px;
                font-size: 30px;
                color: #fff;
                font-weight: bold;
            }
        }
        .form-body {
            padding: 20px 40px;
        }
        .form-footer {
            text-align: center;
            padding-bottom: 40px;
        }
        
    }
}